name: CI

on:
  push:
    branches: ['**']
  pull_request:
    branches: [main, master]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        emacs-version: [29.1, 30.1]

    steps:
    - uses: actions/checkout@v5

    - uses: jcs090218/setup-emacs@master
      with:
        version: ${{ matrix.emacs-version }}

    - uses: emacs-eask/setup-eask@master
      with:
        version: 'snapshot'

    - name: Run Tests
      run: |
        eask install-deps
        eask compile
        eask lint checkdoc
        eask lint package
        eask test ert tests/eglot-codelens-test.el

