name: Test

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        emacs-version:
          - '29.1'
          - '29.2'
          - '29.3'
          - '29.4'
          - '30.1'
          - '30.2'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emacs
        uses: jcs090218/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - name: Check Emacs version
        run: |
          emacs --version
          echo "Emacs version: $EMACS_VERSION"

      - name: Run tests
        run: make test

      - name: Byte compile check
        run: make compile
